<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Discord Bots Italia</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="https://cdn.discordapp.com/icons/611322575674671107/a_97c421382d72ed131956e0deb51aa1f7.gif?size=1024"/>
    <meta property = "og:title" content = "Discord Bots Italia">
    <meta property = "og:description" content = "Come aggiungere il proprio bot al server">
    <meta property = "og:image" content = "https://cdn.discordapp.com/icons/611322575674671107/a_97c421382d72ed131956e0deb51aa1f7.gif?size=1024">
    <meta name="theme-color" content="#706fd3">

    <style>
      body {
        font-family: 'Roboto Mono', monospace;
        background: #706fd3;
      }

      h1 {
        color: #273c75;
      }
      .nolink {
        text-decoration: none;
      }
      
      .link {
        color: #182C61;
      }
      
      .container {
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
      }
    </style>

  </head>
  <body>
    <div class = "container">
    <h1><a href = "/" class = "nolink" style = "color:#273c75">Discord Bots Italia</a></h1>
    <h2>Come Aggiungere Il Proprio Bot Al Server</h2>
    <p>Per aggiungere il proprio bot nel server è possibile fare una richiesta rispondendo alle domande del bot ufficiale del server.<br>Per cominciare il questionario basterà scrivere <code>>submit</code> nel canale <code>✘〙requests</code></p>
    </div>

    <script>

    if (window.location.href === "http://www.discordbotsitalia.tk/mobile/bot") {
      location.href = "https://www.discordbotsitalia.tk/mobile/bot"
    }

    </script>
  </body>
</html>