 <!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lista Bot</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="icon" href="https://cdn.discordapp.com/icons/611322575674671107/a_97c421382d72ed131956e0deb51aa1f7.gif?size=1024"/>
  <meta property = "og:title" content = "Discord Bots Italia">
  <meta property = "og:description" content = "Tutti i bot listati nel server">
  <meta property = "og:image" content = "https://cdn.discordapp.com/icons/611322575674671107/a_97c421382d72ed131956e0deb51aa1f7.gif?size=1024">
  <meta name="theme-color" content="#706fd3">
  
  <style>
      body {
        background: #706fd3;
        margin-top: 50px;
        font-family: 'Roboto Mono', monospace;
        margin-right: 10%;
        margin-left: 35%;
      }
      
      h1 {
        color: #273c75;
      }

      .nolink {
        text-decoration: none;
      }

      .link {
        color: #182C61;
      }
  
      .container {
        margin-left: 20%;
        margin-right: 20%;
      }

      .logo {
        float: left;
        padding: 12.5px;
      }

      div {
        padding: 50px;
      }

      a {
        font-size: 20px;
      }

      img {
        transition-duration: .3s;
      }

      img:hover {
        width: 110px;
      }

  </style>
    
</head>
<body>
  <a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=643500185590169611&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/643500185590169611/d8a75897b515df4a07aeddebf9375e67.webp?size=1024' alt = 'Anti Lol#3119' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Anti Lol#3119 (dnd)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=581476027176321024&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/581476027176321024/269d983972818fa5fdbfc706f9955ec8.webp?size=1024' alt = 'BringLucaBack#3215' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>BringLucaBack#3215 (offline)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=638413846050111499&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/638413846050111499/06c93204b57eab642e7852ca6546901b.webp?size=1024' alt = 'Bump Manager#7745' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Bump Manager#7745 (offline)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=587358484874395690&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/587358484874395690/1e8a2dbe8dcaf7dc91ad0898e5ce5f66.webp?size=1024' alt = 'Cafè#8620' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Cafè#8620 (offline)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=235148962103951360&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/235148962103951360/cececd50fdc87b29929e65c768f24ad6.webp?size=1024' alt = 'Carl-bot#1536' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Carl-bot#1536 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=637716438097985602&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/637716438097985602/b0dad80a5d45d167aa549def9882a653.webp?size=1024' alt = 'Censore Bot#1902' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Censore Bot#1902 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=601072942318747648&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/601072942318747648/aedbef4f567276ebe0d265bc2d1773b4.webp?size=1024' alt = 'Chiky#5518' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Chiky#5518 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=614109280508968980&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/614109280508968980/208c1c61c1a7794579f77e7b9f6f764c.webp?size=1024' alt = 'Chip#4145' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Chip#4145 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=605473558206087199&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/605473558206087199/2c16f706048c4b7698bfa218c882d4b3.webp?size=1024' alt = 'Cookie#1431' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Cookie#1431 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=677233828527603753&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/677233828527603753/3e38195f2985cd450cdfabf1403b2eb6.webp?size=1024' alt = 'DBI#1367' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>DBI#1367 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=302050872383242240&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/302050872383242240/67342a774a9f2d20d62bfc8553bb98e0.webp?size=1024' alt = 'DISBOARD#2760' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>DISBOARD#2760 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=270904126974590976&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/270904126974590976/d60c6bd5971f06776ba96497117f7f58.webp?size=1024' alt = 'Dank Memer#5192' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Dank Memer#5192 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=596672113428135936&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/596672113428135936/8287442fc43643bcf77106e8b2cb49d0.webp?size=1024' alt = 'Destiny#5020' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Destiny#5020 (offline)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=607040796780134422&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/607040796780134422/683114ebb78a75129d9ca2f0a0c685eb.webp?size=1024' alt = 'Discord Bots Italia#5131' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Discord Bots Italia#5131 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=422087909634736160&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/422087909634736160/ba3af9afe0ec8253149ac7f5f84a69f1.webp?size=1024' alt = 'Discord Server List#8005' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Discord Server List#8005 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=589873338407452682&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/589873338407452682/3566b78efaa05441583c50126ec7ab56.webp?size=1024' alt = 'Drive#7368' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Drive#7368 (offline)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=609087387695316992&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/609087387695316992/8155c10500d7df7328e29865b9c52752.webp?size=1024' alt = 'Emoji Locker#7965' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Emoji Locker#7965 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=566240495701983253&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/566240495701983253/5b8025563ee4d1081c5ba6e9094110df.webp?size=1024' alt = 'Erased Bot#5299' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Erased Bot#5299 (offline)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=294882584201003009&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/294882584201003009/4bfd18c35f26a86f2b5b4eb2ad81a1f7.webp?size=1024' alt = 'GiveawayBot#2381' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>GiveawayBot#2381 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=234395307759108106&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/234395307759108106/0e7adc5d634d957b7725021c067bfd87.webp?size=1024' alt = 'Groovy#7254' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Groovy#7254 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=431247481267814410&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/431247481267814410/f9740e06112325dd81cb4c871a7daee4.webp?size=1024' alt = 'INVITE.GG#2032' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>INVITE.GG#2032 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=510151243096915980&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/510151243096915980/705b2872c985eb49e4c84b1d3622bf2e.webp?size=1024' alt = 'MikyBot Canary#0611' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>MikyBot Canary#0611 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=493716749342998541&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/493716749342998541/0c565657403f32d1c0c59cd6962647f9.webp?size=1024' alt = 'Mimu#5713' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Mimu#5713 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=319204121393496064&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/319204121393496064/f909e89f65c778aab7ca309eab3d9a5e.webp?size=1024' alt = 'Murder Mystery Bot#7898' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Murder Mystery Bot#7898 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=638483485417406495&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/638483485417406495/6115a9583ccfcbe2a27f3c89888fe9f1.webp?size=1024' alt = 'Music Noob#5851' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Music Noob#5851 (offline)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=408785106942164992&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/408785106942164992/7f7a07bfad0ad6a2faaaccd9421e5392.webp?size=1024' alt = 'OwO#8456' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>OwO#8456 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=642383957002027038&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/642383957002027038/721bb010f9c78fc6693297fcee31995d.webp?size=1024' alt = 'Party Beta#2287' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Party Beta#2287 (idle)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=527625435128004628&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/527625435128004628/ddc9359cffc10c8d150d5d738a3cc336.webp?size=1024' alt = 'Party#1206' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Party#1206 (idle)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=620910571918852107&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/620910571918852107/0e997fac8b7da12a5e6946f533fe732b.webp?size=1024' alt = 'Piramide 2.0#8624' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Piramide 2.0#8624 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=622031298512289827&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/622031298512289827/040e7aef29ab91cba43a334dc80c03c1.webp?size=1024' alt = 'PostIt#4899' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>PostIt#4899 (idle)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=652080066045673472&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/652080066045673472/4c6c0bba272b074bd30f0dcb48b91374.webp?size=1024' alt = 'Prostituta Jishaku#1614' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Prostituta Jishaku#1614 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=486970979290054676&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/486970979290054676/17c348138c0cb8d8ee43967e221c1993.webp?size=1024' alt = 'Purity 💘#1397' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Purity 💘#1397 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=80528701850124288&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/80528701850124288/1d89840ad386ee98aa5070315f018b3a.webp?size=1024' alt = 'R. Danny#6348' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>R. Danny#6348 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=635044836830871562&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/635044836830871562/c1d08597b40be443c4a906402a07dd93.webp?size=1024' alt = 'Satoru#6725' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Satoru#6725 (idle)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=458276816071950337&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/458276816071950337/ca812083a2b48f368a8582124800e368.webp?size=1024' alt = 'ServerStats#0197' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>ServerStats#0197 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=591699584129040398&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/591699584129040398/5a2dc4e45b3a424996c18f7649566989.webp?size=1024' alt = 'Shiba#2939' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Shiba#2939 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=172002275412279296&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/172002275412279296/f5f65755f67ae1dc88d9bb271d0f5bef.webp?size=1024' alt = 'Tatsu#8792' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Tatsu#8792 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=564064204387123210&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/564064204387123210/ee4d602451e1ecb2f550b8ef842c12c2.webp?size=1024' alt = 'Teo#8099' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Teo#8099 (idle)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=602271843084402698&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/602271843084402698/52e5893281520bd59af6f3b514537ddd.webp?size=1024' alt = 'ThunderBot#9134' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>ThunderBot#9134 (offline)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=557628352828014614&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/557628352828014614/04cdd55608f6f9942c9ab3bbcab3932c.webp?size=1024' alt = 'Ticket Tool#4843' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Ticket Tool#4843 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=299403260031139840&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/299403260031139840/74ddb2dc7aea181b59056a2231b03d04.webp?size=1024' alt = 'Titan#7689' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>Titan#7689 (online)</em></a></div>
<br>
<a class = 'logo' href = 'https://discordapp.com/api/oauth2/authorize?client_id=292953664492929025&permissions=0&scope=bot' target = '_blank'><img src = 'https://cdn.discordapp.com/avatars/292953664492929025/c47af6e9bae8a91779996fa412b24207.webp?size=1024' alt = 'UnbelievaBoat#1046' width = '100px'></a>
<div class = 'text'><a class = 'botname'><em>UnbelievaBoat#1046 (online)</em></a></div>
<br>

<script>
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
      location.href = 'mobile/allbots';
    }

  </script>
    
</body>
  