<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Discord Bots Italia</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="icon" href="https://cdn.discordapp.com/icons/611322575674671107/a_97c421382d72ed131956e0deb51aa1f7.gif?size=1024"/>
    <meta property = "og:title" content = "Discord Bots Italia">
    <meta property = "og:description" content = "Discord Server">
    <meta property = "og:image" content = "https://cdn.discordapp.com/icons/611322575674671107/a_97c421382d72ed131956e0deb51aa1f7.gif?size=1024">
    <meta name="theme-color" content="#706fd3">

    <style>

      body {
        font-family: 'Roboto Mono', monospace;
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        width: 100%;
        background: #706fd3;
      }
      
      h1 {
        color: #273c75;
      }

      .nolink {
        text-decoration: none;
      }

      .link {
        color: #182C61;
      }
  
        .container {
        margin-left: 20%;
        margin-right: 20%;
      }

    </style>
    
  </head>
  <body>
    <div class = "container">
     <h1><a href = "/" class = "nolink" style = "color:#273c75">Discord Bots Italia</a></h1>
     <h2><a href = "https://discord.gg/mvmB6KY" target = "_blank" class = "link">Entra Nel Server</a></h2>
     <p>Un server Discord per gli appassionati di Bot ma anche di programmazione in generale!</p>
     <p>È possibile fare una richiesta per aggiungere il proprio bot al server.</p>
     <p><a href = "bot" class = "link">Scopri Come</a></p>
    </div>
  </body>

  <script>

    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
      
      location.href = 'mobile';
    }

    if (window.location.href === "http://www.discordbotsitalia.tk/") {
      location.href = "https://www.discordbotsitalia.tk/"
    }

  </script>
</html>