<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Discord Bots Italia</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="https://cdn.discordapp.com/icons/611322575674671107/a_97c421382d72ed131956e0deb51aa1f7.gif?size=1024"/>
    <meta property = "og:title" content = "Discord Bots Italia">
    <meta property = "og:description" content = "Entra nel server">
    <meta property = "og:image" content = "https://cdn.discordapp.com/icons/611322575674671107/a_97c421382d72ed131956e0deb51aa1f7.gif?size=1024">
    <meta name="theme-color" content="#706fd3">
    <meta http-equiv = "refresh" content = "0; url = https://discord.gg/mvmB6KY" />
  </head>
</html> 